*.class
.idea
release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
target
.metadata
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear
*.iml
.DS_Store
.gradle/1.10/taskArtifacts/cache.properties
.gradle/1.10/taskArtifacts/cache.properties.lock
src/test/resources/edh-vela-ninjas-small.html